body{
    font-family:'Poppins', sans-serif;
    line-height:1.6;
    background:#f4f7fb;
    color:#333;
    margin: 0;

}

header {
    background-color: #004c4c;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
header > img {
    height: 75px;
    width: auto;
    margin-left: 15px;
    filter: invert();

}

nav{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: right;
    align-items: center;
}

nav > a{
    padding: 25px;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}

nav > a:hover{
    color:#b2d8d8;
}

nav ul{
    flex-wrap:wrap;
    justify-content:center;
}

#socials > a > img {
    width: 35px;
    filter: invert();
}


footer {
    background-color: #004c4c;
    color: white;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}